In [1]:
import pandas as pd

In [2]:
df_avaliacoes = pd.read_csv("../files/title_ratings.tsv", sep="\t", encoding="utf-8")

In [3]:
df_avaliacoes.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      1876
1  tt0000002            5.9       248
2  tt0000003            6.5      1648
3  tt0000004            5.8       160
4  tt0000005            6.2      2475

In [4]:
df_avaliacoes.shape

(1239452, 3)

In [5]:
df_avaliacoes.averageRating.unique()

array([ 5.7,  5.9,  6.5,  5.8,  6.2,  5.2,  5.4,  5.3,  6.9,  7.4,  7.1,
        4.6,  4.8,  5.1,  4.4,  4.3,  5.6,  5.5,  5. ,  4.2,  3.7,  6.8,
        3.6,  4.1,  4.9,  3.8,  2.9,  3.2,  7.6,  6.4,  3.4,  3.5,  4.7,
        6.3,  4.5,  3.9,  6.7,  6.1,  6.6,  4. ,  6. ,  7.5,  7.3,  8.1,
        7.2,  8.2,  8.7,  8. ,  7.9,  7.7,  7. ,  7.8,  8.3,  3.3,  8.5,
        3.1,  8.6,  9. ,  9.2,  2.6,  8.4,  3. ,  2.8,  2.3,  2.7,  2.1,
        2. ,  2.5,  2.4,  8.8,  8.9,  1.1,  1.4,  9.4,  1. ,  1.3,  2.2,
        1.8,  1.6,  9.6,  1.5,  9.7,  1.7,  1.9,  9.3,  9.1, 10. ,  9.5,
        9.9,  9.8,  1.2])

In [6]:
df_avaliacoes.numVotes.unique()

array([ 1876,   248,  1648, ..., 13397, 22181, 91255], dtype=int64)

In [7]:
df_avaliacoes[df_avaliacoes.tconst == "tt5700672"]

            tconst  averageRating  numVotes
1054365  tt5700672            7.6    207961