In [1]:
import pandas as pd

In [2]:
caminho_arquivo_filmes = "../files/title_basics.tsv"
df_filmes = pd.read_csv(caminho_arquivo_filmes, sep="\t", encoding="utf-8")

C:\Users\Gian\AppData\Local\Temp\ipykernel_1444\2628401824.py:2: DtypeWarning: Columns (4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  df_filmes = pd.read_csv(caminho_arquivo_filmes, sep="\t", encoding="utf-8")

In [3]:
# Temos 8_880_201 de linhas no total
df_filmes.shape

(8880201, 9)

In [4]:
df_filmes.titleType.unique()

array(['short', 'movie', 'tvEpisode', 'tvSeries', 'tvShort', 'tvMovie',
       'tvMiniSeries', 'tvSpecial', 'video', 'videoGame', 'tvPilot'],
      dtype=object)

In [5]:
# queremos apenas onde o titleType for = 'movie'
df_filmes = df_filmes.loc[df_filmes['titleType'] == 'movie']

In [6]:
# Agora temos 608_540 linhas no total, apenas filmes.
df_filmes.shape

(608540, 9)

In [7]:
df_filmes.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
570,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Action,Adventure,Biography"
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama

In [8]:
# Os tipos estão misturados entre int e string
# Futuramente vamos converter os valores todos para Boolean.
df_filmes.isAdult.unique()

array([0, 1, '0', '1'], dtype=object)

In [9]:
# Aqui temos tipos estão misturados entre int e string, alem disso temos o valor '\\N' que representa os valores Nulos
# Futuramente vamos converter os valores todos para Int.
df_filmes.startYear.unique()

array([1905, 1906, 1907, 1908, 1909, 1910, 1912, 1911, 1913, 1915, 1914,
       1919, 1916, 1917, 1936, 1925, 1918, 1920, 1922, 1921, 1924, 1923,
       1928, 2019, 1926, 1927, 1929, 2000, 1993, 1935, 1930, 1942, 1932,
       1931, 1934, 1939, 1937, 1933, 1950, 1938, 1951, 1946, 1996, 1940,
       1944, 1947, 1941, 1952, 1970, 1957, 1943, 1948, 1945, 2001, 1949,
       1953, 1954, 1965, 1983, 1980, 1973, 1961, 1955, 1962, 1958, 1956,
       1977, 1964, 1960, 1959, 1967, 1968, 1963, 1971, 1969, 1972, 1966,
       1976, 1990, 1979, 1981, 2020, 1975, 1978, 1989, 1974, 1986, '1972',
       '1971', '1970', '1974', '1973', '1976', '1969', '1981', '1968',
       '1995', '1986', '1987', '1975', '1965', '1978', '1967', '1990',
       '1980', '1985', '2018', '1977', '1979', '1984', '1966', '1982',
       '1988', '1983', '1991', '1963', '2001', '1961', '\\N', '1989',
       '1994', '1993', '1964', '1957', '2019', '1992', '2005', '1953',
       '2004', '1998', '2020', '1947', '2016', '2002', '1996', '2017',
       '1997', '2000', '1945', '1956', '2021', '1999', '2006', '1955',
       '1949', '2008', '2009', '2003', '2007', '2022', '1930', '1938',
       '1959', '1960', '1944', '1935', '1962', '1951', '1954', '1952',
       '1958', '1918', '1943', '1921', '1941', '1939', '1940', '1950',
       '1946', '1916', '1934', '1948', '1933', '1929', '1936', '1925',
       '1932', '1928', '1917', '1919', '1926', '1937', '1931', '1920',
       '1942', '1922', '1927', '1923', '1924', '1915', '1914', '1913',
       '1911', '2010', '1912', '1909', '1910', '1905', '1898', '1899',
       '2012', '1908', '2013', '1906', '1907', '2011', '1904', '2015',
       '1897', '1901', '1902', '1900', '1903', '2014', '2024', '2023',
       '2025', '2027', '2026', '2028', '2029', '1896'], dtype=object)

In [10]:
# Todos os valores são Nulos 
# O que é esperado já que filtramos por apenas filmes.
# Esta coluna pode ser descartada para nosso caso futuramente
df_filmes.endYear.unique()

array(['\\N'], dtype=object)

In [11]:
# A coluna de tempo de duração será convertida em Int futuramente
df_filmes.runtimeMinutes.value_counts()

\N     225605
90      25839
80      11500
60      10866
85      10786
        ...
368         1
326         1
570         1
384         1
990         1
Name: runtimeMinutes, Length: 490, dtype: int64

In [12]:
array_generos = df_filmes.genres.unique() # Buscamos os generos de filmes distintos
array_generos = ",".join(array_generos) # Juntamos todos eles usando "," como separador
array_generos = array_generos.split(",") # Quebramos a string em uma lista de generos pela ","
array_generos = set(array_generos) # Transformamos nossa lista em um Set, pois Sets por definição não tem dados duplicados ;)

In [13]:
# Com isso temos um Set com todos os generos da base!
array_generos

{'Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Family',
 'Fantasy',
 'Film-Noir',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Short',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western',
 '\\N'}

In [19]:
df_filmes[df_filmes.primaryTitle.str.contains("Train to Busan")]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
6959014,tt5700672,movie,Train to Busan,Busanhaeng,0,2016,\N,118,"Action,Horror,Thriller"

In [20]:
df_filmes[~df_filmes.genres.str.contains(",")]

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
498,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
587,tt0000591,movie,The Prodigal Son,L'enfant prodigue,0,1907,\N,90,Drama
610,tt0000615,movie,Robbery Under Arms,Robbery Under Arms,0,1907,\N,\N,Drama
625,tt0000630,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
668,tt0000675,movie,Don Quijote,Don Quijote,0,1908,\N,\N,Drama
...,...,...,...,...,...,...,...,...,...
8880091,tt9916622,movie,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,0,2015,\N,57,Documentary
8880118,tt9916680,movie,De la ilusión al desconcierto: cine colombiano...,De la ilusión al desconcierto: cine colombiano...,0,2007,\N,100,Documentary
8880130,tt9916706,movie,Dankyavar Danka,Dankyavar Danka,0,2013,\N,\N,Comedy
8880141,tt9916730,movie,6 Gunn,6 Gunn,0,2017,\N,116,\N
8880151,tt9916754,movie,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,0,2013,\N,49,Documentary